.title-block {
    font-family: "Dosis", sans-serif;
    font-size: 38px;
    text-align: center;
    color: var(--main-color);
}
.diving-icon {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: auto;
    width: 70px;
}
.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }
  .slick-slide .image {
    padding: 10px;
  }
  .slick-slide img {
  
    display: block;
    width: 100%;
  }
  .slick-slide img.slick-loading {
    border: 0;
  }
