
.destinations {
    background-image: url(../images/directions-background.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 50px;
}

.destinations__title {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: center;
    color: var(--main-color);
}

.box-item-name {
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    text-align: start;
    color: var(--main-color);
}

.box-item-text {
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    text-align: start;
    
   }

   .box-item-link {
    font-family: 'Chivo', sans-serif;
    font-size: 11px;
    text-align: start;
    color: var(--accent-color);
    text-decoration: none;  /* не підкреслює лінки*/
   }  

   .destinations__box-item a:hover {
    color: var(--main-color);
    text-decoration: underline;
   } 

   .destinations__button {
    font-family: 'Chivo', sans-serif;
    font-size: 11px;
    color: var(--main-color);
   }  