.destinations {
    background-image: url(../images/directions-background.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 30px;
}

.destinations__title {
    font-family: "Dosis", sans-serif;
    font-size: 38px;
    text-align: center;
    color: var(--main-color);
}

.destinations__box {
    background-color: var(--box-background);
    max-width: 100%;
    /* ширина блока по ширині вікна */
    padding: 20px 50px;
    margin: 20px 80px;
}

.destinations__box-item {
    display: flex;
    /* переносить у великому вікні інфу справа */
    flex-wrap: wrap;
    /*переносить текст під фото при звуженні */
    justify-content: space-around;
    /* робить і фото і текст по центру при зміні розміру екрану */
    align-items: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 30px;
}

.box-item-image {
    max-width: 500px;
    /* ???? чи щось дає*/
    height: fit-content;
    /* !!!! не міняє висоту!!!*/
}

.box-item-info {

    text-align: left;
    padding: 35px 30px;
    max-width: 500px;
    /* макс ширина як макс ширина фото над нею; */
}

.box-item-name {
    font-family: "Dosis", sans-serif;
    font-size: 22px;
    text-align: left;
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-item-text {
    font-family: "Chivo", sans-serif;
    font-size: 16px;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 30px;
}

.box-item-link {
    font-family: "Chivo", sans-serif;
    font-size: 11px;
    text-align: left;
    color: var(--accent-color);
    text-decoration: none;
    /* не підкреслює лінки*/
}

.destinations__box-item a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.destinations__button {

    font-family: "Chivo", sans-serif;
    font-size: 11px;
    box-sizing: border-box;
    color: var(--main-color);
    background-color: var(--block-background);
    border-radius: 2.5em;
    text-decoration: none;
    padding: 15px 25px;
    border: solid 1px var(--main-color);

}

.destinations__button:hover {
    background-color: var(--accent-color);
}

.destinations__button-place {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}