.diving-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 24px;
}

.diving-trip__title,
.diving-course-about__title {
    font-size: 38px;
}

.diving-trip__title {
    text-align: center;
    margin: 20px 0 0 0;
}

.diving-trip__item {
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin: 25px 0 0 0;
}

.diving-trip__contacts {
    font-family: "Chivo", sans-serif;
    color: var(--main-color);
    background-color: var(--accent-color);
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    padding: 12px 24px;
    border-radius: 21px;
}

.diving-trip__contacts:hover {
    background-color: var(--text-color);
}

.diving-course {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px 70px 24px;
}


.diving-course-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0 0 0;
}

.diving-course-about__img {
    display: block;
    height: 100%;
    max-width: 100%;
    margin-left: 0;
    width: 50px;
}

.diving-course-about__title {
    margin: 20px 0 0 0;
}

.diving-course-about__item {
    margin: 25px 0 0 0;
    font-size: 16px;
    line-height: 1.56;
}

.last-item {
    margin: 0;

}

.diving-course-about__button {
    flex-basis: content;
    font-family: "Chivo", sans-serif;
    color: var(--main-color);
    font-size: 11px;
    margin: 35px 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 21px;
    border: solid 1px var(--text-color);
}

.diving-course-about__button:hover {
    background-color: var(--accent-color);
    border: none;
}

@media (min-width: 768px) {
    .diving-trip {
        background-image: url(../images/jellyfish-background.webp);
        background-size: cover;
        background-position: 55% 50%;
    }

    .diving-course {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        justify-content: start;
    }

    .diving-course-about {
        align-content: flex-start;
    }


    .diving-trip__title,
    .diving-course-about__title {
        font-size: 50px;
    }
}

.diving-course-about__item {
    font-family: "Chivo", sans-serif;
    font-weight: 100;
}