.thaidiving-title {
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.container-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 колонки з рівномірним розподілом простору */
    gap: 20px; /* Відступи між елементами */
}
.container__social-logo {
    max-width: 100px;
    margin: auto;
   
}
.creator__name {
    text-align: center;
    display: block;
}
.information__link-nav {
    text-align: center;
    display: block;
}