.thaidiving-title {
    font-family: "Dosis", sans-serif;
    font-size: 38px;
    text-align: center;
    color: var(--main-color);
}
.container-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.creator__name {
    text-align: center;
    display: block;
}
.information {
    text-align: center;
    display: block;
}
.creator__name {
    text-align: center;
    color: var(--main-color);
    
}

.container__social {
    display: flex;
    max-width: 120px;
    max-height: 120px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.facebook {
    padding-left: 10px;
}
.instagram {
    padding-left: 10px;
}
@media (min-width: 768px) {
    .information-item {
        display: inline-block;
    }
}
.information-item:hover {
    color:red;
    text-decoration:underline;
}