.places-gallery__title {
    font-size: 50px;
    text-align: center;
    margin: 2rem 0;
}
.places-gallery__text {
    font-size: 20px;
    text-align: center;
    margin: 1rem 0;
}
.carousel {
 align-items: center;
 justify-content: space-around;
    margin: 0 auto;
    padding: 20px 10px;
    margin: 0 auto;

}
.carousel__slide {
display: block;
margin: 15px;
}
  
.carousel__slide img {
height: 250px;
width: 100%;
max-width: 400px;
object-fit: cover;
}

@media (min-width: 700px) {
    .carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }
}