.places-gallery__title {
    font-size: 50px;
    text-align: center;
    margin: 2rem 0;
}
.places-gallery__text {
    font-size: 20px;
    text-align: center;
    margin: 1rem 0;
}

.places-gallery__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.places-gallery__carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.places-gallery__carousel .carousel-slide {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
}

.places-gallery__carousel .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
     cursor: pointer;
}

.places-gallery__carousel .carousel__button--prev {
    left: 10px;
}

.places-gallery__carousel .carousel__button--next {
    right: 10px;
}
  


@media (min-width: 700px) {

}