@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Dosis:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* * {
    outline: 1px solid red;
  } */

:root {
    --main-color: white;
    --text-color: #4886ae;
    --accent-color: #ff5b00;
    --header-color: #000e24;
    --box-background: rgba(18, 36, 58, 0.8);
    --menu-background: rgba(18, 36, 58, 1);
    --block-background: #000e24;
    --menu-color: #e7b900;
    scroll-behavior: smooth;
    font-family: 'Dosis', sans-serif;
    background-color: var(--block-background);
}

p {
    color: var(--text-color);
    font: 'Chivo', sans-serif;
}

h1,
h2,
h3 {
    color: var(--main-color);
}

img {
    display: block;
    width: 100%;
}

.diving-icon {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: auto;
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: auto;
}