.header {
    background-image: url(../images/header-ocean.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 850px;
}

.header__banner {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.header__block-text {
    margin: 50px 0 0;
    padding: 0 15px;
}

.header__title {
    font-family: 'Dosis', sans-serif;
    font-size: 111px;
    color: var(--main-color);
    padding: 100px 24px 0 20px;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.header__text {
    color: var(--main-color);
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    text-transform: none;
}

.header_button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__banner_button {
    box-sizing: border-box;
    background-color: var(--accent-color);
    border-radius: 2.5em;
    color: var(--main-color);
    font-size: 12px;
    font-family: 'Chivo', sans-serif;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 950px) {
    .header__title {
        padding: 200px 0px 20px 0px;
        font-size: 70px;
    }

    .header__text {
        padding: 20px;
    }

    .header__banner {
        padding-top: 120px;
    }

    .header_button {
        padding-top: 50px;
    }

    .header__banner_button {
        padding: 20px 30px;
    }

    .header__banner_button:hover {
        background-color: var(--text-color);
    }
}