.packages {
    background-image: url(../images/background-packages.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: 54% 55%;
}

.packages__title {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    color: var(--main-color);
}

.packages__box {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    max-width: 1330px;
}

.packages__box-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    background-color: var(--box-background);
    max-width: 340px;
}

.packages__title-text {
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    margin-top: 25px;
    color: var(--text-color);
}

.box-item-image {
    max-width: 500px;
    height: fit-content;
}

.box__item-name {
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    text-align: center;
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.box__item-text {
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.box__item-link {
    font-family: "Chivo", sans-serif;
    font-size: 12px;
    text-align: center;
    color: var(--accent-color);
    text-decoration: none;
}

.packages__button {
    font-family: "Chivo", sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    color: var(--main-color);
    background-color: var(--box-background);
    border-radius: 2.5em;
    text-decoration: none;
    padding: 15px 25px;
    border: solid 1px var(--main-color);
  }

.packages__button:hover {
    background-color: var(--accent-color);
}

.packages__button-place {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
