.packages {
    background-image: url(../images/background-packages.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: 54% 55%;
}

.packages__title {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    color: var(--main-color);
}

.packages__box {
    background-color: var(--box-background);
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 570px;
    max-width: 1330px;
}

.packages__box-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 15px;
    height: 260px;
    background-color: var(--box-background);
    max-width: 240px;
}

.packages__title-text {
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    margin-top: 25px;
    color: var(--text-color);
}

.box-item-name {
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    text-align: start;
    color: var(--main-color);
}

.box-item-text {
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    text-align: start;
    color: var(--text-color);
}

.courses__button-place {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media (max-width: 700px){
    .about-us{
        flex-direction: column;
        max-width: 460px;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
}