.content__picture-diving{
  display: flex;
  flex-direction: row;
}
.pictures__box{
  margin: auto;
  margin-top: 50px;
  margin-right: 25px;
}
#picture__ocean{
  max-width: 379.37px;
}
.button:hover{
  background: none;
  color:white ;
  background-color: #FF5B00;}

.button{
  color: white;
 border: 1px solid;
 padding:1em 2em ;
 border-radius: 2.5em;
 font-size: 1em;
 text-decoration: none;
 border-color: rgb(72, 134,174);
}
.content__picture-ocean{
  margin: auto;
  margin-left:0px;
}
.btn{margin: 40px;}
@media only screen and (max-width: 768px) { 
  .content__picture-diving{
    flex-direction: column;
  }
}