

body{
  background-color:#000e24 ;
  font-family: 'Dosis', sans-serif;
  display: flex;
  
}

.under-sea__header{

  text-align: center;
  
}
.under-sea__logo{
  text-align: center;
}
.img__logo{
  height: 67px;
  width: 70px;
}
.under-sea__title{
  text-align: center;
  color: white;
  font-weight: 700;
  vertical-align: baseline;
  font-size: 34px;
}
.under-sea__pictures{
 text-align:center;
  display: inline-flex;
  margin-top:15px;
  
  
}

img.pictures{
  width: 570px;
  height:316.975px;
  flex-direction: column;
}
.pictures_divers{
  margin-left: 30px;
}
.content__diving-school{
  color: rgb(72, 134,174);
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
margin-bottom: 50px;

 

}
.diving__title{
  color: white;
  font-size: 26px;
  font-style: normal;
}
a.button{
  box-sizing: border-box;
  color: white;
 border: 1px solid;
 padding:1em 2em ;
 font-size:1em ;
 border-radius: 2.5em;
 font-size: 1em;
 text-decoration: none;
 border-color: rgb(72, 134,174);
 margin-bottom: 20px;
}
.button:hover{
  background: none;
  color:white ;
  background-color: #FF5B00;
  border-radius: 50em;
}